extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid") 
            .col-md-7
                h1= pagina
                
                p Curabitur vulputate sem id tincidunt euismod. Nulla varius est nec orci porttitor sagittis. Condimentum lacus eu molestie aliquam. Rhoncus nulla ut iaculis rhoncus
                p Duis condimentum lacus eu molestie aliquam. Pellentesque rhoncus nulla ut iaculis rhoncus. Ut tincidunt eu velit ac molestie. Curabitur vulputate sem id tincidunt euismod. Nulla varius est nec orci porttitor sagittis. Curabitur sed arcu at dolor venenatis consequat. Vivamus non orci a ipsum euismod rhoncus. Maecenas aliquet sagittis quam nec pulvinar. Proin vulputate faucibus diam, et auctor erat pulvinar ut. Ut blandit nisi orci, vitae euismod ipsum commodo sed. Quisque quis enim a elit rutrum aliquet. Nunc lacus massa, euismod quis libero eget, tincidunt posuere odio.
    .listado-iconos  
        .container.mt-5.py-5.text-center
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae vitae nostrum quos, corrupti dolores eveniet vero esse et magnam tempore, accusantium doloribus error ab sint sed perspiciatis quas! Id, consequatur?
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae vitae nostrum quos, corrupti dolores eveniet vero esse et magnam tempore, accusantium doloribus error ab sint sed perspiciatis quas! Id, consequatur?
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae vitae nostrum quos, corrupti dolores eveniet vero esse et magnam tempore, accusantium doloribus error ab sint sed perspiciatis quas! Id, consequatur?
